[Unit]
Description=uplr service

[Service]
ExecStart=/usr/bin/node /www/uplr/app/server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/www/uplr/app

[Install]
WantedBy=multi-user.target
